<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="conteiner background">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 main">
      <div class="col-md-6 left-side">
        <h3>A.K.A Transportes</h3>
        <p>Conecte-se ao painel de controle</p>
        <br>
      </div>
      <div class="col-md-6 right-side">
        <h3>Login</h3>
        <div class="form">
          <div class="form-group">
            <label for="form2">Usuário</label>
            <input type="text" id="form2" class="form-control input-lg">
          </div>
          <div class="form-group">
            <label for="form4">Senha</label>
            <input type="password" id="form4" class="form-control input-lg">
          </div>
          <div class="text-xs-center">
            <button class="btn btn-deep-purple">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
